/* Comfortaa Font */

@font-face {
    font-family: 'Comfortaa';
    src: url('comfortaa/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('comfortaa/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* JozefinSans Font */

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('josefin-sans/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('josefin-sans/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}