@import "basic-modal.css";
:root {
    --var-default-color: background-color: rgb(163, 15, 15);
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(163, 15, 15) !important;
}

div {
    -webkit-transition: all 700ms ease;
    overflow: hidden;
    border-radius: 0px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 9vh;
    color: white;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    animation: typing2 0.8s steps(30, end);
}

center {
    text-align: center;
}

menu {
    position: relative;
    line-height: 7vh;
    background-color: #f3f3f3 !important;
    border-radius: 8px;
    width: 18%;
    cursor: pointer;
    z-index: 2;
    color: black !important;
}

menu:hover {
    /*border: 2px solid #eeeeee;*/
    background-color: #e2e2e2 !important;
    border-radius: 8px;
    width: 18%;
}

.w3-container {
    background-color: white !important;
}

container {
    background-color: #e2e2e2 !important;
    border-radius: 4px;
    position: relative;
    width: 70%;
    height: 273px;
    left: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black !important;
}

topcontainer {
    position: absolute;
    top: 10.5%;
    left: 0;
    right: 0;
    z-index: 1;
}

.container-title {
    position: relative;
    top: 5px;
}

.checkboxbg {
    margin-top: 1%;
    width: 4vw;
    height: 3.5vh;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border-radius: 6px;
}

checkbox {
    width: 2.5vw;
    height: 2vh;
}

.switch {
    margin-left: 0px;
    width: 2vw;
    height: 3.5vh;
    background-color: rgb(163, 15, 15);
    border-radius: 6px;
}

.checked {
    background-color: rgb(98, 9, 9);
}

.txt2 {
    font-size: 3vh;
    color: black !important;
}

.switched {
    color: transparent;
}

.switched {
    animation-name: switch1;
    animation-duration: 0.6s;
}

.switched2 {
    margin-left: 30px;
    animation-name: switch1;
    animation-duration: 0.6s;
}

.unswitched {
    animation-name: switch2;
    animation-duration: 0.6s;
}

.unswitched2 {
    margin-left: 0px;
    animation-name: switch2;
    animation-duration: 0.6s;
}

.margint1 {
    margin-top: 1.3%;
}

.bg-minibox {
    background-color: #eeeeee;
    border-radius: 8px;
    width: 57px;
    height: 45px;
    min-width: 37.64px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-right: 12px;
    display: inline-block;
}

.bg-minibox:hover {
    border-radius: 9px;
    transform: scale(.99);
    width: 63px;
    height: 45px;
}

.minibox {
    margin-top: 15%;
    color: rgb(163, 15, 15) !important;
    font-size: 26px;
    cursor: pointer;
}

.bg-minibox:before {
    max-height: 5.65px;
}


/*.test:hover {
    margin-top: 6%;
    font-size: 4vh;
}
*/

.loading {
    display: none;
}

span.dolar-box {
    margin-right: unset;
}

span.dc-box {
    /*! display: block; */
    width: 281px;
    height: 46px;
    margin-left: 2.5%;
    margin-top: 7px;
}

span.dc-box:hover{
    width: 287px;
    height: 46px;
    transform: scale(.99);
}


span.dc-text{
    color: rgb(163, 15, 15) !important;
    font-size: 21px;
    margin-left: 11px;
    position: relative;
    top: -5px;
}

.icon {
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 2.5vh;
    cursor: pointer;
}

.w3-button {
    color: black !important;
}

.w3-button:hover {
    cursor: pointer;
    font-size: 135%;
}

.white {
    color: white;
}


/* The Modal (background) */

.rounded {
    border-radius: 6px;
}


/* Animations */

@keyframes logo {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@keyframes typing2 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes switched {
    from,
    to {
        margin-left: 30px;
    }
}

@keyframes switch1 {
    from {
        margin-left: 0px;
        cursor: wait;
    }
    to {
        cursor: default;
        margin-left: 30px;
    }
}

@keyframes switch2 {
    from {
        margin-left: 30px;
    }
    to {
        margin-left: 0px;
    }
}

@keyframes switch3 {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}
